# /usr/lib/udev/rules.d/41-identify-usb-gsm-modem.rules

# Check the device's IMEI, and if it's known, associate it with it's alias
# KERNEL=="ttyUSB*", ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1465", SYMLINK+="%kABC", GROUP="uucp", MODE="0660"

KERNEL=="ttyUSB*", ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1465", PROGRAM="/home/pcronin/src/identify-usb-gsm-modem/bin/identify-usb-gsm-modem.pl -n $devnode -p $sys$devpath  -v $attr{idVendor}:$attr{idProduct}", SYMLINK+="%c", GROUP="uucp", MODE="0660"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="2003", PROGRAM="/home/pcronin/src/identify-usb-gsm-modem/bin/identify-usb-gsm-modem.pl -n $devnode -p $sys$devpath -v $attr{idVendor}:$attr{idProduct}", SYMLINK+="%c", GROUP="uucp", MODE="0660"
